<!-- Main Slider Start -->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-slider normal-slider">
          <div class="header-slider-item" style="overflow: hidden;">
            <img src="images/slider-1.jpg" alt="Slider Image" style="margin: auto;" />
            <div class="header-slider-caption">
              <p>"Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn.” <br>
                <b>Barack Obama</b>
              </p>

            </div>
          </div>
          <div class="header-slider-item" style="overflow: hidden;">
            <img src="images/slider-2.jpg" alt="Slider Image" style="margin: auto;" />
            <div class="header-slider-caption">
              <p>"Tất cả những gì con người làm, nghĩ hoặc trở thành: được bảo tồn một cách kỳ diệu trên
                những trang sách.” <br> <b> Thomas
                  Carlyle</b></p>

            </div>
          </div>
          <div class="header-slider-item" style="overflow: hidden;">
            <img src="images/slider-3.jpg" alt="Slider Image" style="margin: auto;" />
            <div class="header-slider-caption">
              <p>"Chính từ sách mà những người khôn ngoan tìm được sự an ủi khỏi những rắc rối của cuộc
                đời.” <br> <b>Victor Hugo</b></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Slider End -->

<!-- Feature Start-->
<div class="feature">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fab fa-cc-mastercard"></i>
          <h2>Secure Payment</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-truck"></i>
          <h2>Domestic Delivery</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-sync-alt"></i>
          <h2>7 Days Return</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-comments"></i>
          <h2>24/7 Support</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End-->

<!-- Category Start-->
<div class="category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="images/it.jpg" />
          <a class="category-name" href="/book?category=61e3a4152af6cd09388dcc89">
            <p>Information technology</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-250">
          <img src="images/category-4.jpg" />
          <a class="category-name" href="book?category=61e78991a7b71b00162029d7">
            <p>Non Fiction Books</p>
          </a>
        </div>
        <div class="category-item ch-150">
          <img src="images/category-5.jpg" />
          <a class="category-name" href="/book?category=61e78752a7b71b001620295d">
            <p>Fiction Books</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-150">
          <img src="images/category-6.jpg" />
          <a class="category-name" href="/book?category=61e7876ba7b71b0016202965">
            <p>Comedy</p>
          </a>
        </div>
        <div class="category-item ch-250">
          <img src="images/category-7.jpg" />
          <a class="category-name" href="/book?category=61e7861fa7b71b0016202931">
            <p>Manga</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="images/category-8.jpg" />
          <a class="category-name" href="/book?category=61e7878ca7b71b001620296d">
            <p>Scientific Books</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category End-->

<!-- Featured Product Start -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Featured Product</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">

      {{#each featuredBooks}}
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-title" style="height: 100px;">
            <a href="/book/{{_id}}/detail">{{name}}</a>
          </div>
          <div class="product-image">
            <a href="/book/{{_id}}/detail">
              <img height="400px" src={{image}} style="object-fit:contain" alt="Product Image">
            </a>
          </div>
          <div class="product-price">
            <h3>{{price}}<span> ₫</span></h3>
            <a class="btn" href="/book/{{_id}}/detail"><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<!-- Featured Product End -->

<!-- Recent Product Start -->
<div class="recent-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Lated Product</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">

      {{#each latedBooks}}
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-title" style="height: 100px;">
            <a href="/book/{{_id}}/detail">{{name}}</a>
          </div>
          <div class="product-image">
            <a href="/book/{{_id}}/detail">
              <img height="400px" src={{image}} style="object-fit:contain" alt="Product Image">
            </a>
          </div>
          <div class="product-price">
            <h3>{{price}}<span> ₫</span></h3>
            <a class="btn" href="/book/{{_id}}/detail"><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<!-- Recent Product End -->
